@media (max-width: 1199px){
/*host wifi*/
  .host-checkin {
    margin-top: -15px;
  }
  .checkin {
    margin-bottom: 30px;
  }
  .login-host-veryfyno{
    padding-left: 40px;
  }
  .body-yoozik:after {
    width: 360px;
    height: 660px;
    background-size: 360px 660px;
  }
  .host-verification-page, .hlogin-verify-phnumber, .host-login-verify-email-address, 
  .host-login1, .qr-code-and-printouts, .host-wifi {
    padding: 110px 0;
  }
  .regi-now-detail form.regi-now-detail-form {
    margin: 0 auto;
  }
/*host login*/

/*host login-1*/
  .host-login1-content form.login-host1form {
    background-size: 281px 150px;
  }	
  form.login-host-veryfyno .input-box > img {
    left: -45px;
    width: 38px;
  }
/*host login social network*/

/*host login splash*/
  .hostlog-splsh.body-yoozik:after {
    width: 275px;
    height: 484px;
    background-size: 275px 484px;
  } 
  .hostlog-splsh.body-yoozik:before {
    width: 99px;
    height: 220px;
    background-size: 99px 220px;
  } 
  .host-login-revolution p {
    padding: 15px 0 0 0px;
  }
  .yoozik-footer-btm {
    padding-top: 70px;
    margin-left: 30px;
  }
  .host-guest .host-guest-wrap h4 > img {
    width: 35px;
  }
  .host-guest .host-guest-wrap h4 {
    padding-left: 45px;
  }
/*host login verify email address*/
  .host-login-verify-email-address .verify-email-id .checkin-left {
    margin-top: 15px;
  }
/*host login verify phone number*/
/*host-photos-onboard*/
  .host-photos-onboard .get-started-btn{
    margin-top: 30px;
  }
/* host qr code and printouts */
/*host terms & conditons*/
  .terms-condition .get-started-btn >img {
    right: 70px;
  }
/* host verification*/

}

@media (min-width: 992px) and (max-width:1199px){
	
}

@media (max-width: 991px){
/*host wifi*/
  .body-yoozik:after {
    width: 301px;
    height: 530px;
    background-size: 301px 530px;
  }	
  .checkin h3 {
    font-size: 22px;
  }
  .h-wifi-text {
    padding: 0;
  }
  .h-wifi-text > img {
    position: absolute;
    top: -12px;
    left: -10px;
    width: 55px;
  }
  .h-wifi-text h4 {
    font-size: 18px;
  }
  .h-wifi-text p{
  	font-size: 12px;
  }
  ul.form-list > li > label {
    margin-bottom: 10px;
    font-size: 12px;
  }
  .form-control {
    padding: 6px 15px;
    font-size: 12px;
  }
  form.login-host-veryfyno .input-box > img {
    left: -42px;
    width: 34px;
  }
  .host-wifi .get-started-btn {
    margin-top: 100px;
  }
  .body-yoozik:before {
    width: 113px;
    height: 250px;
    background-size: 113px 250px;
  }
/*host login*/
  .host-login-page .host-login-wrapper {
    margin-top: 30px;
  }
/*host login-1*/
  .checkin.location > img {
    top: -18px;
    left: 55%;
    width: 40px;
  }
  .host-login1-content form.login-host1form {
    background-size: 249px 126px;
  }
  .host-checkin {
    margin-top: 10px;
  }
/*host login social network*/
  .login-social-nw-wrapper .hostlogin-social-title {
     padding-left: 0; 
  }
  .hostlogin-social-wrapper {
     padding: 0; 
  }
  .login-social-nw-wrapper > p.hosting-account {
    line-height: 17px;
    margin-bottom: 10px;
  }
  .hostlogin-social-title h3 {
    margin: 10px 0 5px 0;
  }
/*host login splash*/  
  .host-login-revolution p > img {
    width: 46px;
  }
  .host-login-revolution p {
    font-size: 10px;
  }
  .host-login-revolution h3 {
    font-size: 20px;
  }
  .hostlog-splsh.body-yoozik:after {
    width: 210px;
    height: 370px;
    background-size: 210px 370px;
  } 
  .experience-content {
    padding: 10px 10px 10px 10px;
  }
  .experience-content h4 {
    font-size: 15px;
  }
  .host-guest .host-guest-wrap h4 {
    font-size: 18px;
  }
  .host-guest .host-guest-wrap h4 > img {
    width: 30px;
  }
  .host-guest .host-guest-wrap h4 {
    padding-left: 40px;
  }
  .yoozik-footer-btm {
    width: 534px;
  }
  .yoozik-footer-btm {
    margin-left: 0;
  }
/*host login verify email address*/
  .verify-email-id p{
    font-size: 12px;
  }
  form.login-host-veryfyno .input-box > img {
    left: -36px;
    width: 30px;
  }
/*host login verify phone number*/
/*host-photos-onboard*/
  .menu-photos h4 {
    margin-bottom: 5px;
    font-size: 20px;
  }
  .menu-photos p {
    line-height: 15px;
    font-size: 12px;
  }
  .menu-photos .checkin-left {
    margin-top: 5px;
  }
  .host-printout > img{
    display: none;
  }
/*host terms & conditons*/
/* host verification*/
/*register now detail*/
  .login-social-nw-wrapper {
    width: 320px;
    margin: 0 auto;
  }
}

@media (min-width: 768px) and (max-width:991px){
	
}

@media (max-width: 767px){
/*host wifi*/
  .body-yoozik:after {
    width: 210px;
    height: 370px;
    background-size: 210px 370px;
  }	
  .host-checkin {
    margin-top: 0px;
  }
  .h-wifi-text > img {
    left: 41px;
    width: 62px;
  }
  .host-wifi .get-started-btn ,.host-login1 .get-started-btn{
    text-align: center !important;
  }
  .checkin {
    padding-left: 15px;
  }
/*host login*/
  .host-login-top {
    margin-left: 20px;
  }
  .host-login-page .host-login-wrapper {
    font-size: 13px;
  }
  .button-login > .btn {
  	font-size: 12px;
  }
  .host-login-page .host-login-wrapper p {
    margin: 10px 0 12px 0;
  }
/*host login-1*/ 
  .host-login1-content form.login-host1form {
    background-size: 185px 90px;
  } 
  .host-login1-content{
  	margin-bottom: 30px;
  }
/*host login social network*/
  .login-social-nw-wrapper > p.hosting-account {
    font-size: 10px;
    line-height: 1.3;
  }
  .hostlogin-social-title > p {
    font-size: 11px;
  }
  .hostlogin-social-title h3 {
    font-size: 20px;
  }
  .remember label {
    font-size: 12px;
    padding-left: 22px;
  } 
  .remember label:after {
    width: 16px;
    height: 16px;
    line-height: 16px;
  }
  .forgot a{
  	font-size: 12px;
  }  
  .forgot{
  	text-align: left !important;
  	margin-top: -15px;
  } 
/*host login splash*/ 
  .yoozik-footer-btm {
    width: 400px;
  } 
  .hostlog-splsh.body-yoozik:after {
    width: 135px;
    height: 300px;
    background-size: 135px 300px;
  }
  .host-login-revolution h3 > img {
    width: 105px;
  }
  .host-login-revolution p > img {
    width: 55px;
  }
  .host-login-revolution h3 {
    font-size: 22px;
  }
  .host-login-revolution p {
    font-size: 10px;
    margin-bottom: 20px;
  }
  .yoozik-header .lets-start a {
    font-size: 12px;
  }
  .host-guest .host-guest-wrap h4 {
    font-size: 16px;
    padding-left: 32px;
  }
  .host-guest .host-guest-wrap h4 > img {
    width: 25px;
  }
  .experience-content {
    margin-bottom: 30px;
  }
/*host login verify email address*/

/*host login verify phone number*/
  .hlogin-verify-phnumber .phone-verify-img > img {
    margin-top: 0;
    margin-bottom: 20px;
  }
  .hlogin-verify-phnumber .verify-phone-num >p {
    font-size: 12px;
  }
/*host-photos-onboard*/
/*qr-code-and-printouts*/
  .qr-code-and-printouts .get-started-btn {
    text-align: center !important;
  }
/*host terms & conditons*/
  .terms-condition .terms h3 {
    font-size: 20px;
    margin-bottom: 8px;
  } 
  .terms-condition .terms p {
    font-size: 12px;
  } 
/* host verification*/
  .host-verification > img {
    width: 70px;
    left: 67px;
    top: 0px;
  }  
/*register now*/
  .registernow-wrapper .regi-getstarted > .btn {
    font-size: 14px;
    line-height: 36px;
    padding: 0 20px;
  }
/*register now detail*/

}

@media (max-width: 575px){
/*host wifi*/
  .body-yoozik:after {
    width: 150px;
    height: 320px;
    background-size: 150px 320px;
  }
  .h-wifi-text > img {
    left: 25px;
    width: 55px;
  }
  ul.form-list > li {
    margin-bottom: 16px;
  }
  .checkin {
    margin-bottom: 40px;
  }
  .checkin p {
    font-size: 10px;
  }
  .checkin h3 {
    font-size: 16px;
  }
  .h-wifi-text {
     padding: 0 22px; 
  }
  .body-yoozik:before {
    width: 81px;
    height: 180px;
    background-size: 81px 180px;
  }
/*host login*/ 
  .host-login-top {
    margin-left: 0;
  } 
  .host-login-top >img{
	width: 210px; 
  }
  .host-login-page .host-login-wrapper {
    font-size: 12px;
  }
  .button-login > .btn {
    line-height: 36px;
  }
/*host login-1*/
.checkin.location > img {
    left: 46%;
    width: 32px;
  }
   .menu-logo > a > img{
	width: 20px;
  }
  .logo img{
	width: 60px;
  }
  .verification-page, .hlogin-verify-phnumber, .host-login-verify-email-address, 
  .host-login1, .qr-code-and-printouts, .host-wifi {
    padding: 90px 0;
  }
  .host-login1 .host-checkin {
    margin-top: 14px;
  }
/*host login social network*/
  .login-social-nw-wrapper > p.hosting-account:after {
    left: -70px;
    height: 60px;
    width: 60px;
    background-size: 60px 60px;
  }
  .login-instant-button .btn {
    margin-bottom: 10px;
    line-height: 36px;
  }
  .login-instant-button {
    margin: 15px 0 8px 0;
  }
  .hostlogin-social-wrapper p {
    font-size: 11px;
  }
  .login-host-form .login-account > .btn {
  	font-size: 10px;
    line-height: 32px;
  }
/*host login splash*/ 
  .yoozik-footer-btm {
    width: auto;
  } 
  .hostlog-splsh.body-yoozik:after {
    width: 95px;
    height: 200px;
    background-size: 95px 200px;
  }
  .host-login-revolution h3 {
    font-size: 18px;
  }
  .host-login-revolution h3 > img {
    width: 75px;
  }
  .host-login-revolution p > img {
    width: 32px;
  }
  .host-login-revolution p {
    font-size: 9px;
  }
  .host-guest .host-guest-wrap h4 {
    font-size: 14px;
    padding-left: 26px;
  }
  .host-guest .host-guest-wrap h4 > img {
    width: 20px;
  }
  .yoozik-header .lets-start a:after {
    top: -22px;
    font-size: 20px;
  }
  .yoozik-header .lets-start a {
    font-size: 10px;
  }
/*host login verify email address*/

/*host login verify phone number*/
  .phone-verify-img > img{
    display: none;
  }
/*host-photos-onboard*/
  .host-photos-onboard .get-started-btn ,.terms-condition .get-started-btn {
    text-align: center !important;
  }
  /*host qr code and printouts*/
  .generate-qr h4 {
    font-size: 18px;
  }
  .generate-qr span {
    font-size: 12px;
    margin-bottom: 5px;
  }
  .generate-qr p {
    line-height: 14px;
    font-size: 10px;
  }
/*host terms & conditons*/
  .terms-condition .terms h3 {
    font-size: 16px;
  }
  .terms-content li {
    font-size: 9px;  
  }
  .terms-condition .get-started-btn >img {
    display: none;
  }
/*host verification*/
  .host-verification {
    padding: 0 30px;
  }
  .host-verification > img{
    display: none;
  }
/*register now*/
  .registernow-wrapper .regi-getstarted > .btn {
    font-size: 12px;
  } 
  .login-social-nw-wrapper > p.hosting-account:after{
    display: none;
  } 
/*register now detail*/
  .registernow-detail-wrapper >img {
    display: none;
  }
  .upload-id {
    margin-top: 50px;
  }
}

@media (max-width: 400px){
/*host wifi*/
  .body-yoozik:after {
    width: 110px;
    height: 195px;  
    background-size: 110px 195px;
  }
  .h-wifi-text {
    padding: 0;
  }
  .h-wifi-text > img {
    left: 10px;
    width: 46px;
  }
  .h-wifi-text h4 {
    font-size: 16px;
  }
  .h-wifi-text p {
    font-size: 10px;
  }
  .form-control {
    padding: 4px 10px;
    font-size: 10px;
  }
  form.login-host-veryfyno .input-box > img {
    left: -36px;
    width: 30px;
  }
  ul.form-list > li > label {
    margin-bottom: 5px;
    font-size: 10px;
  }
  .host-wifi .get-started-btn {
    margin-top: 60px;
  }
  .get-started-btn > .btn {
    padding: 0 28px;
    line-height: 26px;
    font-weight: 400;
    font-size: 11px;
  }
  .checkin {
    padding-left: 0;
  }
/*host login*/ 
  .host-login-page .host-login-wrapper {
    font-size: 11px;
  } 
  .button-login > .btn {
    line-height: 32px;
    font-size: 11px;
  }
/*host login-1*/
  .host-login1-content form.login-host1form {
    background-size: 155px 72px;
  }
  .hlogin1-location h3 {
    font-size: 18px;
  }
  .hlogin1-location p {
    font-size: 11px;
    margin-bottom: 5px;
  }
/*host login social network*/
  .forgot {
    margin-top: -8px;
  }
  .forgot a {
    font-size: 10px;
  }
  .hostlogin-social-title > p {
    font-size: 10px;
  }
  .login-social-nw-wrapper > p.hosting-account:after {
    left: -56px;
    height: 50px;
    width: 50px;
    background-size: 50px 50px;
  }
  .login-host-form .login-account > .btn {
    font-size: 8px;
    line-height: 28px;
  }
  .remember label {
    font-size: 10px;
    padding-left: 18px;
  }
  .remember label:after {
    width: 14px;
    height: 14px;
    line-height: 15px;
  }
  .hostlogin-social-wrapper p {
    font-size: 9px;
  }
/*host login splash*/
  .host-login-revolution h3 {
    font-size: 16px;
  }
  .host-login-revolution h3 > img {
    width: 60px;
  }
  .host-login-revolution p > img {
    width: 22px;
  }
  .host-login-revolution p {
    font-size: 8px;
  }
  .yoozik-footer-btm > ul > li > a {
    font-size: 10px;
  }
/*host login verify email address*/

/*host login verify phone number*/
/*host terms & conditons*/
  .terms-condition .terms h3 {
    font-size: 14px;
  }
/*register now detail*/
  .login-social-nw-wrapper {
    width: 285px;
  }
  .regi-now-detail form.regi-now-detail-form {
    width: 285px;
  }
}