@font-face{
font-family: 'Monaco';
src: url(../fonts/Monaco.ttf) format('truetype');
font-weight: 400;
}
@font-face{
font-family: 'Monaco';
src: url(../fonts/Monaco.ttf) format('truetype');
font-weight: 500;
}
@font-face{
font-family: 'Monaco';
src: url(../fonts/Monaco.ttf) format('truetype');
font-weight: 600;
}
@font-face{
font-family: 'Monaco';
src: url(../fonts/Monaco.ttf) format('truetype');
font-weight: 700;
}
@font-face{
font-family: 'Monaco';
src: url(../fonts/Monaco.ttf) format('truetype');
font-weight: 800;
}
/*global*/
html{
 -webkit-font-smoothing: antialiased;
 -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
 text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
a, a:focus{color:#9ea6ae;}
p{margin:0;}
a, a:hover, a:focus{text-decoration:none; color:#9ea6ae;}
ul, ol{margin:0; padding:0; list-style:none;}
h1, h2, h3, h4, h5, h6{margin:0; font-weight:600; color: #171c34;}
input, button, textarea, select{font-family: 'Poppins', sans-serif; outline:none;}
input:focus, button:focus, textarea:focus, select:focus{outline:none;}
.no-margin{
	margin:0;
}
.no-padding{
	padding:0;
}
.error{
  color:red;
}
.centered-img{
  max-width:100%;
  display:block; 
  margin:0 auto;
}
/*body*/
body{
	color: #9ea6ae;
	font-size:14px;
	font-weight:400;
	font-family: 'Poppins', sans-serif;
  line-height:1.3;
	position:relative;
}
/*---buttons ---*/
.btn{
  font-weight:400;
  font-size:12px;
  line-height:36px;
  padding: 0 15px;
  text-transform: uppercase;
  border-radius:6px;
  letter-spacing: 0.5px;
	border: 2px solid transparent;
  -webkit-box-shadow: 0px 3px 14px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 3px 14px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 3px 14px 0px rgba(0,0,0,0.2);
  transition: 0.4s all;
  -webkit-transition: 0.4s all;
  -moz-transition: 0.4s all;
}
.btn.focus, .btn:focus{
  box-shadow: none;
}
.btn-white{
  color: #000;
  border-color:#fff;
  background-color: #fff;
}
.btn-white:hover{
  color: #fff;
  border-color:#ffe501;
  background-color: #ffe501;
}
.btn-yellow{
  color: #fff;
  border-color:#ffe501;
  background-color: #ffe501;
}
.btn-yellow:hover{
  color: #fff;
  border-color:#ecd403;
  background-color:#ecd403;
}
.btn-gray{
  color: #000;
  background-color: #eef1f4;
  border-color: #eef1f4;
}
.btn-gray:hover{
  color: #000;
  background-color: #dedfdf;
  border-color: #dedfdf;
}
.btn-blue{
  color: #fff;
  background-color: #3b5998;
  border-color: #3b5998;
}
.btn-blue:hover{
  color: #fff;
  background-color: #4d73c3;
  border-color: #3b5998;
}
.btn-border{
  background-color: #fff;
  border-color: #e6eaee;
}
/*start header*/
header{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 111;
  width: 100%;
  display: block;
}
.main-header{
  margin: 15px 0;
}
.main-header .logo{
  float: left;
}
.logo a {
  display: block;
  position: relative;
}
.main-header .menu{
  margin: 12px 0 0 70px;
  float: left;
}
.main-header .menu >ul >li{
  float: left;
  margin: 0 10px;
}
.main-header .menu >ul >li >a{
  font-size: 12px;
  line-height: 22px;
  display: block;
  position: relative;
  font-family: 'Monaco';
  letter-spacing: 0.5px;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
}
.main-header .menu >ul >li >a:hover{
  color: #000;
}
.main-header .menu ul > li.menu-margin{
  margin-top: 40px;
}
.main-header .menu >ul >li >a img{
  display: block;
  margin: 0 auto;
}
.header-btn{
    margin-top: 15px;
}
.header-btn > a{
  margin-right: 40px;
}
.header-btn > a:last-child{
  margin-right: 0;
}
.header-btn > a.login{
  color: #000;
}
/*start banner*/
.banner{
  position: relative;
  height: 100vh;
}
.banner:after{
  content: "";
  width: 650px;
  height: 635px;
  position: absolute;
  top: 0;
  right: 0;
  background-image: url(../images/banner.png);
  background-repeat: no-repeat;
}
.banner-caption{
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
}
.banner-caption .banner-heading{
  position: relative;
  padding-left: 100px;
  display: inline-block;
}
.banner-caption .banner-heading h3{
  font-size: 30px;
  font-weight: 400;
}
.banner-caption .banner-heading h6{
  font-size: 12px;
  color: #ffe501;
  font-weight: 500;
  margin-left: 10px;
}
.banner-caption .banner-heading h6 > i{
  font-size: 14px;
  margin-right: 7px;
}
.banner-caption .banner-heading:before{
  content: "";
  height: 110px;
  width: 85px;
  background-image: url(../images/banner-girl.png); 
  position: absolute;
  bottom: -10px;
  left: 0;
}
.banner-caption .banner-heading:after{
  content: "";
  height: 60px;
  width: 69px;
  background-image: url(../images/banner-waiter.png); 
  position: absolute;
  top: 0;
  right: -80px;
}
.banner-content{
  padding-left: 100px;
  font-size: 12px;
  margin-top: 15px;
}
.banner-content p{
  line-height: 20px;
}
.banner-content p span{
  color: #000;
}
.banner-content ul.banner-yoozik{
  margin: 15px 0;
}
ul.banner-yoozik > li{
  margin-bottom: 5px;
  line-height: 20px;
}
ul.banner-yoozik > li > img:last-child{
  margin-right: 5px;
}
.banner-content .get-started-btn > .btn ,.revolutionary .get-started-btn > .btn, .pricing .get-started-btn > .btn{
  margin-top: 10px;
  border-radius: 6px;
  padding: 0 15px;
  line-height: 36px;
  font-weight: 400;
}
.banner-content .get-started-btn > img{
  display: block;
  margin-bottom: 5px;
}
/*start user-experience*/
.user-experience{
  margin-top: -70px;
  position: relative;
}
.user-experience:after{
  content: "";
  width: 100px;
  height: 300px;
  position: absolute;
  top: -130px;
  left: 0;
  background: url(../images/user-experience.png) no-repeat;
}
.user-experience-title .section-title > h2{
  font-size: 30px;
  font-weight: 400;
  display: inline-block;
  line-height: 60px;
  padding: 0 90px;
  position: relative;
}
.user-experience-title .section-title > h2:before{
  content: "";
  height: 80px;
  width: 80px;
  background-image: url(../images/logo.png); 
  position: absolute;
  bottom: 8px;
  left: 0;
}
.user-experience-title .section-title > h2:after{
  content: "";
  height: 80px;
  width: 98px;
  background-image: url(../images/cloud-black.png); 
  position: absolute;
  bottom: 10px;
  right: -20px;
}
.user-experience-title p{
  color: #ffe501;
}
.experience-wrapper{
  margin-top: 20px;
}
.experience-content{
  padding: 40px 40px 20px 40px;
  background-color: #fff;
  border-radius: 6px;
  transition: 0.4s all;
  -webkit-transition: 0.4s all;
  -moz-transition: 0.4s all;
}
.experience-content:hover{
 -webkit-box-shadow: 0px 0px 13px -1px rgba(0,0,0,0.3);
 -moz-box-shadow: 0px 0px 13px -1px rgba(0,0,0,0.3);
 box-shadow: 0px 0px 13px -1px rgba(0,0,0,0.3);
}
.experience-content h4{
  font-family: 'Monaco';
  font-size: 18px;
  margin: 20px 0 10px 0;
}
.experience-content p{
  color: #ffe501;
  font-size: 12px;
}
/*start revolutionary*/
.revolutionary{
  padding: 60px 0;
  position: relative;
}
.revolutionary:before{
  content: "";
  width: 115px;
  height: 330px;
  position: absolute;
  top: 270px;
  left: 0;
  background: url(../images/left_side_box.png) no-repeat;
}
.revolutionary:after{
  content: "";
  width: 75px;
  height: 250px;
  position: absolute;
  right: 0px;
  top: 90px;
  background: url(../images/right_side_box.png) no-repeat;
}
.revolutionary-title{
  position: relative;
}
.revolutionary-title  h3{
  display: inline-block;
  font-size: 70px;
  font-weight: 400;
  margin-bottom: 10px;
}
.revolutionary-title p{
  position: relative;
  font-size: 28px;
  line-height: 36px;
  color: #ffe501;
}
/*start dish photos*/
.dish-photo{
  padding: 250px 0 100px;
  background: url(../images/bottom_background.png)no-repeat;
  background-size: cover;
}
.dish-wrapper{
  padding: 20px;
  -webkit-box-shadow: 0px 6px 15px 0px rgba(0,0,0,0.2);
-moz-box-shadow: 0px 6px 15px 0px rgba(0,0,0,0.2);
box-shadow: 0px 6px 15px 0px rgba(0,0,0,0.2);
}
.dish-wrapper h5{
  color: #171c34;
  padding: 20px 0;
  text-transform: uppercase;
  font-weight: 400; 
  position: relative;
  margin-bottom: 20px;
}
.dish-wrapper h5:after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 25px;
  height: 5px;
  background: #ffe501;
  border-radius: 5px;
}
.dish-wrapper span{
  color: #171c34;
}
.dish-wrapper p{
  color: #ffe501;
}
/*start pricing*/
.pricing{
  padding: 70px 0 20px 0;
  position: relative;
}
.pricing:before{
  content: "";
  width: 145px;
  height: 310px;
  position: absolute;
  top: 335px;
  left: 0;
  background: url(../images/price-left-box.png) no-repeat;
}
.pricing:after{
  content: "";
  width: 80px;
  height: 280px;
  position: absolute;
  right: 0px;
  top: 90px;
  background: url(../images/price-right-box.png) no-repeat;
}
.pricing-title h3{
  display: inline-block;
  font-weight: 400;
  font-size: 28px;
  margin: 10px 0 15px 0;
  position: relative;
}
.pricing-title h3:after{
  content: "";
  width: 110px;
  height: 80px;
  position: absolute;
  left: -125px;
  bottom: 0px;
  background: url(../images/cloud_doc.png) no-repeat;
}

/*radio button*/
.billed-wrapper {
  position: relative;
  min-width: 220px;
  max-width: 520px;
  margin: auto;
  margin-top: 60px;
}
.submit-rating {
  display: flex;
  align-items: center;
  justify-content: center;
}
.rating-label {
  position: relative;
  text-align: center;
  flex: 0.34;
  margin-bottom: 0;
  cursor: pointer;
  transition: 0.5s all;
}
.rating-label:hover, .rating-label:active {
  color:  #d0cccd;
}
.rating-label-fun {
  left: -58px;  
  text-align: right;
}
.rating-label-meh {
  left: 58px; 
  text-align: left;
  color: #222;
}
.billed-wrapper input {
  display: none;
}
.toggle-rating-pill {
  position: relative;
  height: 20px;
  width: 45px;
  border: 1px solid #d0cccd;
  border-radius: 50px;
  transition: all 0.5s;
}
.smile-rating-toggle {
  position: absolute;
  width: 14px;
  height: 14px;
  background-color: #ffe501;
  left: 240px;
  border-radius: 50px;
  transition: all 0.5s;
  z-index: 4;
}
/*Toggle Changes*/
#quartly:checked~.rating-label-meh {
  color: #555e63;
}
#monthly:checked~.rating-label-meh {
  color:  #d0cccd;
}
#monthly:checked~.rating-label-fun {
  color: #171c34;
}
#monthly:checked~.smile-rating-toggle {
  left: 264px;
}
/*pricing table*/
.pricing-table{
  margin-top: 25px;
}
.pricing-wrapper{
  padding: 30px;
}
.pricing-wrapper:hover{
  -webkit-box-shadow: 0px 0px 13px -1px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 13px -1px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 13px -1px rgba(0,0,0,0.3);
  border-radius: 6px;
}
.pricing-wrapper h4{
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
}
.pricing-wrapper ul.pricing-item{
  padding: 30px 0;
}
.pricing-wrapper ul.pricing-item li{
  padding-left: 20px;
  position: relative;
  font-size: 11px;
  margin-bottom: 10px;
}
.pricing-wrapper ul.pricing-item li>img{
  position: absolute;
  top: 0;
  left: 0;
}
.pricing-wrapper p{
  font-size: 20px;
  color: #000;
  text-align: center;
}
.pricing-wrapper p sup{
  color: #ffe501;
}
.pricing-wrapper p sub{
  color: #9ea6ae;
  font-size: 10px;
}
.pricing .get-started-btn{
  margin-top: 30px;
}
/*start footer*/
footer.mainlanding-footer{
  padding: 20px 0 70px 0;
}
.footer-content{
  padding-top: 50px;
}
.footer-content ul > li > a{
  margin-bottom: 15px;
  font-size: 11px;
  text-transform: capitalize;
  color: #9ea6ae; 
  display: block;
}
.footer-content h3.footer-title{
  color: #000;
  text-transform: uppercase;
  font-size: 11px;
  margin-bottom: 15px;
  font-weight: 400;
}
/********************************start host login splash page*********************/
.body-yoozik{
  position: relative;
}
.body-yoozik:after{
  content: "";
  width: 446px;
  height: 785px;
  position: absolute;
  top: 0;
  right: 0;
  background-image: url(../images/yoozik-body-banner.png);
  background-repeat: no-repeat;
  z-index: -1;
}
.body-yoozik:before{
  content: "";
  width: 135px;
  height: 300px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: url(../images/yoozik-body-bottom.png);
  background-repeat: no-repeat;
}
.yoozik-header{
  margin-top: 20px;
}
.yoozik-header .menu-logo{
  float: left;
  margin-left: 15px;
}
.yoozik-header .menu-logo > .logo{
  display: inline-block;
  margin-left: 15px;
}
.yoozik-header .lets-start a{
  position: relative;
  display: inline-block;
  font-family: 'Monaco';
  margin-top: 30px;
}
.yoozik-header .lets-start a:after{
  content: "\f105";
  font-family: FontAwesome;
  position: absolute;
  top: -28px;
  right: 5px;
  color: #ffe501;
  font-size: 28px;
}
.host-login-splash{
  padding-top: 115px;
}
.host-login-revolution h3{
  font-size: 30px;
  color: #171c34;
  font-weight: 400;
}
.host-login-revolution h3 > img{
  width: 115px;
}
.host-login-revolution p{
  padding: 15px 0 0 60px;
  color: #ffe501; 
}
.host-login-revolution p > img{
  width: 60px;
}
.host-login-splash .host-guest{
  margin-top: 40px;
}
.host-guest .host-guest-wrap h4{
  font-size: 20px;
  font-family: 'Monaco';
  position: relative;
  padding-left: 60px;
  margin-top: 20px;
}
.host-guest .host-guest-wrap h4 > img{
  position: absolute;
  bottom: 0;
  left: 0;
}
/* start yoozik-business-btm*/
.yoozik-business-btm{
  padding-top: 35px;
}
/*start yoozik-footer-btm*/
.yoozik-footer-btm{
  padding-top: 200px;
  padding-bottom: 30px;
  width: 600px;
  background: url(../images/yoozik-footer.png) no-repeat;
  margin-left: 130px;
  position: relative;
}
.yoozik-footer-btm > ul{
 float: right;
}
.yoozik-footer-btm > ul > li {
  float: left;
}
.yoozik-footer-btm > ul > li > a{
  margin: 0 5px;
  color: #000;
  font-size: 12px;
  font-family: 'Monaco';
}
/***********************On Bording1****************************/
.onbording1 ,.onbording2 ,.onbording3 ,.onbording4 ,.onbording5{
  padding-top: 115px;
}
.checkin{
  padding-left: 50px;
}
.checkin p{
    font-size: 12px;
    font-family: 'Monaco';
    font-weight: 300;
}
.checkin h3{
  font-size: 32px;
  font-weight: 400;
  color: #ffe501;
  font-family: 'Monaco';
  display: inline-block;
}
.checkin-left{
  display: inline-block;
}
.checkin-left ul{
  display: inline-block;
}
.checkin-left ul > li {
  float: left;
  margin-right: 5px;
  height: 5px;
  width: 5px;
  border-radius:50%;
  background-color: #ffe501;
  opacity: .3;
}
.checkin-left ul > li.check-opacity{
  opacity: 1;
}
.checkin-right{
  display: inline-block;
}
.host-side{
  margin-top: 40px;
}
.host-side-left ul{

}
.host-side .host-side-left ul li{
  color: #ffe501;
  margin-bottom: 5px;
  font-size: 12px;
}
.host-side .host-side-left ul li:last-child{
  margin-bottom: 0;
}
.host-side .host-side-left ul li img{
  margin-right: 5px;
}
.host-side .host-side-left ul li i{
  color: #ffe501;
  margin-right: 5px;
  font-size: 16px;
}
.host-side .host-side-right h4{
  font-size: 20px;
  font-family: 'Monaco';
  position: relative;
  padding-left: 60px;
  margin-top: 20px;
}
.host-side .host-side-right h4 > img {
  position: absolute;
  bottom: 0;
  left: 0;
}
/**************onboarding3***********************/
.yozik-dish{
  padding: 70px 0;
}
.yozik-dish-left{
  padding: 20px;
}
.yozik-dish-left h5{
  color: #171c34;
  padding: 20px 0;
  text-transform: uppercase;
  font-weight: 400;
  position: relative;
  margin-bottom: 20px;
}
.yozik-dish-left h5:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 25px;
  height: 5px;
  background: #ffe501;
  border-radius: 5px;
}
.yozik-dish-left p{
  color: #ffe501;
  font-size: 11px;
}
/****************host login page***************/
.host-login-page , .register-now{
  padding: 150px 0;
}
.host-login-top{
  margin-left: 130px;
}
.host-login-page .host-login-wrapper{
}
.host-login-page .host-login-wrapper img{
  height: 150px; 
}
.host-login-page .host-login-wrapper p{
  color: #ffe501;
  margin-bottom: 5px;
}
.button-login > .btn{
  display: block;
  margin-bottom: 20px;
  text-transform: none;
  line-height: 42px;
  font-size: 14px;
  font-weight: 300;
}
.button-login > .btn >i{
  font-size: 16px;
  padding-right: 10px;
}
.host-login-wrapper span a{
  color: #2066b3;
}
/*********************host login social network**************************/
.host-login-social-nw{
  padding: 150px 0;
}
.login-social-nw-wrapper{
 
}
.login-social-nw-wrapper .hostlogin-social-title{
  padding-left: 35px;
}
.hostlogin-social-title h3{
  font-size: 22px;
  font-weight: 500;
  margin: 20px 0 5px 0;
}
.hostlogin-social-title > p{
  font-size: 12px;
}
.login-social-nw-wrapper > p.hosting-account{
  color: #ffe501;
  line-height: 26px;
  font-size: 12px;
  margin: 5px 0;
  position: relative;
}
.login-social-nw-wrapper > p.hosting-account:after{
  content: "";
  position: absolute;
  bottom: 5px;
  left: -100px;
  height: 82px;
  width: 92px;
  background: url(../images/host-login-waiter.png) no-repeat;
}
.hostlogin-social-wrapper{
  padding: 0 35px;
}
.hostlogin-social-wrapper p{
  font-size: 13px;
  text-align: center;
}
.login-instant-button .btn{
  display: block;
  box-shadow: none;
  border: 1px solid #e6eaee;
  line-height: 40px;
}
.login-instant-button{
  margin: 15px 0 30px 0;
}
form.login-host-form{
  margin-top: 15px;
}


/*start form*/
ul.form-list li .input-box.password .form-control {
  padding-right: 40px;
}
ul.form-list li .input-box.password img {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
}
ul.form-list li .input-box {
    position: relative;
}
ul.form-list > li {
    margin-bottom: 25px;
    position: relative;
}
ul.form-list > li > label {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 400;
}
.form-control {
  height: auto;
  padding: 9px 15px;
  font-size: 14px;
  line-height: 20px;
  color: #171c34;
  border: 1px solid #e6eaee;
  border-radius: 6px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: 0.4s all;
  -o-transition: 0.4s all;
  transition: 0.4s all;
}
.form-control:focus{
  border-color: #171c34;
  box-shadow: none;
}
.remember input {
    display: none;
}
.remember label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
}
.remember input[type="checkbox"]:checked + label:after {
  content: "\f00c";
}
.remember label:after {
  position: absolute;
  top: 0px;
  left: 0;
  width: 18px;
  height: 18px;
  background-color: #0857ab;
  display: block;
  content: "";
  font-family: fontAwesome;
  color: #fff;
  text-align: center;
  border-radius: 100%;
  line-height: 18px;
}
.forgot a ,.acc-regi > p >a {
  color: #0857ab;
}
.login-account > .btn{
  display: block;
}
/*********************registartion now*************************/
.registernow-wrapper ul.register-now-button > li{
  margin-bottom: 20px;
}
.registernow-wrapper ul.register-now-button li > a.btn{
  border-radius: 50px;
  text-transform: none;
  box-shadow: none;
}
.registernow-wrapper ul.register-now-button li > a.btn > img{
  padding-right: 5px;
}
.registernow-wrapper ul.register-now-button{
  margin: 15px 0 34px 0;
}
.registernow-wrapper .regi-getstarted > .btn{
  font-size: 16px;
  line-height: 52px;
  padding: 0 30px;
  letter-spacing: 0;
}
/**************************start register now detail***********************/
.register-now-detail{
  padding: 150px 0 60px 0;
}
.regi-now-detail form.regi-now-detail-form{
  margin-top: 30px;
}
.regi-now-detail-form .form-control{
  border:none;
  border-bottom: 1px solid #e6eaee;
  font-size: 16px;
  border-radius: 0;
  padding: 9px 0;
}
.mobile-phone > label{
  position: relative;
}
.mobile-phone > label:after{
  content: "";
  height: 20px;
  width: 20px;
  position: absolute;
  bottom: 0;
  right: -22px;
  background:url(../images/smartphone.png) no-repeat;
}
.upload-id {
  position: relative;
  margin-top: 100px;
}
.upload-id input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  cursor: pointer;
}
.upload-id p {  
  text-align: center;
  text-transform: uppercase;
}
/***************************lets get to work****************/
.lets-get-to-work {
  padding: 130px 0 60px 0;
}
.lets-get-work > .banner-yoozik > li{
  color: #ffe501; 
}
.lets-get-work > .banner-yoozik{
  margin-bottom: 15px;
}
.lets-get-work h4{
  font-size: 22px;
  font-family: 'Monaco';
  color: #ffe501;
  margin: 15px 0;
}
.lets-get-work-content{
  margin-top: 15px;
}
.lets-get-work-content p{
  color: #ffe501;
  line-height: 22px;
}
.gray-check.checkin-left ul > li{
  background-color: #919ba0;
  height: 8px;
  width: 8px;
  margin-top: 10px;
}
.lets-get-to-work .get-started-content h5{
  text-transform: uppercase;
  color: #ffe501;
  font-weight: 400;
  margin: 25px 0;
  font-size: 14px;
}
.lets-get-to-work .get-started-content p{
  margin-top: 10px;
  color: #ffe501;
}
.lets-get-to-work .get-started-btn{
  margin-top: 105px;
} 
.get-started-btn > .btn{
  border-radius: 50px;
  padding: 0 50px;
  line-height: 32px;
  font-weight: 300;
}
/********************** host-verification-page ***********************/
.host-verification-page , .hlogin-verify-phnumber ,.host-login-verify-email-address ,
.host-login1 ,.qr-code-and-printouts ,.host-wifi{
  padding: 130px 0;
}
.host-checkin{
  margin-top: -30px;
  display: block;
}
.host-verification{
  position: relative;
  padding-left: 130px;
  font-family: 'Monaco'; 
  margin-top: 20px;
}
.host-verification h5{
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 10px;
}
.host-verification p{
  font-size: 12px;
}
.host-verification > img{
  position: absolute;
  top: -20px;
  left: 0;
}
.host-verification .get-started-btn > .btn{
  margin-top: 30px;
}
/************************host login verfy phone no************************/
form.login-host-veryfyno .input-box > img{
  position: absolute;
  bottom: 0;
  left: -56px;
}
.hlogin-verify-phnumber .phone-verify-img > img{
  margin-top: 100px;
  margin-left: 0;
}
.hlogin-verify-phnumber .verify-phone-num >p{
  text-transform: uppercase;
  margin: 10px 0;
}
.verify-phone-num .get-started-btn > .btn{
  margin-top: 0;
}
.verify-phone-num .checkin-left ul > li{
  margin-top: 25px;
}
/***************************host-login-verify-email-address*********************/
.login-host-veryfyno .form-control{
  border: 1px solid #000;
}
.host-login-verify-email-address .verify-email-id {
  margin-top: 50px;
}
.host-login-verify-email-address .verify-email-id .checkin-left{
  margin-top: 50px;
}
/*********************host login 1******************/
.host-login1-content form.login-host1form{
  padding: 40px 0;
  background: url(../images/map.png)50% 50% no-repeat;
}
.hlogin1-location h3{
  margin: 20px 0 15px 0;
  font-family: 'Monaco'; 
  font-size: 20px;
  font-weight: 400;
}
.hlogin1-location h3>img{
  margin-right: 5px;
}
.hlogin1-location p{
  font-family: 'Monaco'; 
  margin-bottom: 10px;
}
.host-login1 .get-started-btn > .btn{
  margin-top: 0;
}
.checkin.location{
  position: relative;
}
.checkin.location > img{
  position: absolute;
  top: -55px;
  left: 50%;
}
/******************host photos onboard*****************/
.menu-photos h4{
  font-family: 'Monaco'; 
  color: #ffe501;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 22px;
}
.menu-photos p{
  line-height: 22px;
  font-family: 'Monaco'; 
  color: #ffe501;
}
.menu-photos .checkin-left{
  margin-top: 15px;
}
.host-photos-onboard ,.terms-and-conditons{
  padding: 130px 0 70px 0;
}
/**********************start host qr code and printouts***************/
.generate-qr h4{
  color: #000;
  font-family: 'Monaco'; 
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 10px;
}
.generate-qr span{
  color: #000;
  font-family: 'Monaco';
  display: block;
}
.generate-qr p{
  line-height: 20px;
  font-family: 'Monaco'; 
  color: #ffe501;
  font-size: 12px;
}
.generate-qr .checkin-left{
  margin: 10px 0 15px 0;
}
.host-printout >img{
  margin-left: -75px;
}
.qr-code-and-printouts .get-started-btn > .btn{
  margin-top: 70px;
}
/*****************host wifi*********************/
.h-wifi-text{
  position: relative;
  padding: 0 50px;
  font-family: 'Monaco';
  margin-bottom: 20px;
}
.h-wifi-text > img{
  position: absolute;
  top: -30px;
  left: 0;
}
.h-wifi-text h4{
  color: #000;
  font-family: 'Monaco'; 
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 10px;
}
.host-wifi .get-started-btn{
  margin-top: 150px;
}
/****************terms & conditions**************/

.terms-condition .terms h3{
  font-family: 'Monaco'; 
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 10px;
}
.terms-condition .terms p{
  font-family: 'Monaco';   
}
.terms-content{
    padding: 20px;
    background: #ffffff73;
    border-radius: 10px;
    color: black;
}
.terms-content ol {
  counter-reset: item;
}
.terms-content li {
  display: block;
  font-size: 11px;
  margin-bottom: 10px;
}
.terms-content li:before {
  content: counters(item, ".") " ";
  counter-increment: item;
  margin-right: 3px;
}
.terms-condition .get-started-btn > .btn{
  position: relative;
}
.terms-condition .get-started-btn >img{
  text-align: center;
  position: absolute;
  bottom: 0;
  right: 155px;
}